.body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.mdl-layout__drawer {
  padding: 10px;
}

.mdl-components .mdl-components__pages {
  display: inline-block;
  flex-grow: 1;
  padding-bottom: 120px;
}

.page-content {
  height: 100%;
  position: relative;
}

#scatter {
  height: 100%;
  position: relative;
}

.loading-overlay {
  position: fixed;
  top: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.loading-overlay .hidden {
  display: none;
}

.mdl-spinner {
  width: 100px;
  height: 100px;
}

.controls-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
}

.digit {
  image-rendering: pixelated;
}
